{% for cat in categories %}
<li class="option-title {{cat | replace(' ','_') | replace('&', '_')  | lower}}"><a href="{{path('levis_gift_category',{'topcat': cat})}}" title="{{cat | trans}}">{{cat | trans}}</a></li>
{% endfor %}