{% extends "AevitasLevisBundle:Backend:root.html.twig" %}

{% block breadcrumb %}
    <ul class="breadcrumb">
	<li><a class="glyphicons home" href="/backend"><i></i> BACKEND</a></li>
	<li class="divider"></li>
	<li>Delete Rules</li>
    </ul>
{% endblock %}

{% block content %}
    <div align="center">Has an error!</div>
{% endblock %}

{% block javascript %}
    
{% endblock %}