<form action="{{path('dash_save_trippledate')}}" method="POST" class="triple" autocomplete="off">
    <div class="form-row">
        {{form_widget(form.date)}}
    </div>
    {{form_rest(form)}}
</form>