{% extends ":mail:root.html.twig" %}
{% block title %}
{{'Reset Password' | trans}}
{% endblock %}
{% block content %}
<p>{{'Coppy this code to the form to reset password' | trans}}:{{sessionid}}</p>
{% endblock %}