    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <table class="wrap_email" style="width:800px;
    table-layout:fixed;
    margin:0 auto;
    border-collapse:collapse;" cellspacing="0" cellpadding="0">
    <tbody class="wrap_main_email_content">
        <!--banner-->
        <tr>
            <td class="column_padding_left">
            </td>
            <td class="wrap_header_email" style="width:640px;background-repeat: no-repeat;height:62px;background:#eef4fa;">
               <table background="" style="height:62px;table-layout:fixed;
               width:100%;
               border-collapse:collapse;
               " cellpadding="0">
               <tbody>
                <tr>
                    <td style="width:640px;heigth:62px;" mc:edit="banner">
                        <div class="header_email_home_icon">
                           <a href="http://www.starclubvn.com" target="_blank">
                             <img src="https://gallery.mailchimp.com/1376e7d09500a88b0c683bf5b/images/feb1c1a0-c00c-43a6-9c83-4e16debdd6f7.jpg"></a>
                         </div>
                     </td>
                 </tr>
             </tbody>
         </table>
     </td>
     <td class="column_padding_right">

     </td>
 </tr>
 <!--header-->

 <tr>
    <td class="column_padding_left">
    </td>
    <td class="wrap_header_email" style="width:600px;background-repeat: no-repeat;height:62px;">
       <table background="" style="height:62px;table-layout:fixed;
       width:100%;
       border-collapse:collapse;
       " cellpadding="0">
       <tbody>
        <tr>
            <td style="width:25%;padding-left:6%;">
                <div class="header_email_home_icon" mc:edit="trang chu">
                   <a href="http://www.starclubvn.com" target="_blank">
                     TRANG CHỦ</a>
                 </div>
             </td>
             <td style="width:25%;padding-left:6%;">
                <div class="header_email_home_icon" mc:edit="quyen loi">
                   <a href="http://starclubvn.com/membership_tier.html" target="_blank">
                     QUYỀN LỢI</a>
                 </div>
             </td>    
             <td style="width:25%;padding-left:6%;">
                <div class="header_email_home_icon" mc:edit="levi's">
                   <a href="http://levi.com.vn/vn/" target="_blank">
                     LEVI'S</a>
                 </div>
             </td> 
             <td style="width:25%">
                <div class="header_email_home_icon" mc:edit="dockers">
                   <a href="http://dockers.com.vn/" target="_blank">
                     DOCKERS</a>
                 </div>
             </td>                                                                                                       
         </tr>
     </tbody>
 </table>
</td>
<td class="column_padding_right">

</td>
</tr>

<!--center-->
<!--center-->
<tr class="content-center">
    <td class="column_padding_left">
    </td>
    <td>
       <table style="width:640px;border-collapse:collapse;background:#ffffff;font-family:arial">
        <tbody>
            <tr>
                <td style="
                font-size:8pt;
                " mc:edit="3 ">
                <h2>Cam on {{name}} da mua sam.Ban da duoc thang hang tu {{oldlevel}} len {{newlevel}}. Chi tiet www.starclubvn.com</h2>

            </td>
        </tr>
    </tbody>
</table>

</td>
<td class="column_padding_right">

</td>
</tr>



<!--footer-->
<tr>
    <td class="column_padding_left">
    </td>
    <td class="wrap_header_email" style="width:640px;background-repeat: no-repeat;height:62px;background:#eef4fa;">
       <table background="" style="height:62px;table-layout:fixed;
       width:100%;
       border-collapse:collapse;
       " cellpadding="0">
       <tbody>
        <tr>
            <td style="width:50%;">
                <div class="header_email_home_icon">
                   <a href="http://www.starclubvn.com" target="_blank">
                     <img src="https://gallery.mailchimp.com/1376e7d09500a88b0c683bf5b/images/4e618416-3219-48f2-bc9e-06636a0c55e1.jpg" style="width:640px;heigth:62px;" mc:edit="content_2"></a>
                 </div>
             </td>
         </tr>
     </tbody>
 </table>
</td>
<td class="column_padding_right">

</td>
</tr>

</tbody>
</table>