{% extends "AevitasLevisBundle:Front:root.html.twig" %}
{% block title %}
<title>Star Club - Chính sách bảo mật</title>
{% endblock %}
{% block header %}
<!-- Le styles -->
{% stylesheets output='bundles/aevitaslevis/front/cpassets/compress_contact_us.css' filter='yui_css'
    '@AevitasLevisBundle/Resources/public/front/css/bootstrap.css'
    '@AevitasLevisBundle/Resources/public/front/css/bootstrap-responsive.css'
    '@AevitasLevisBundle/Resources/public/front/css/faq.css'
    '@AevitasLevisBundle/Resources/public/front/css/style.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
{% endstylesheets %}
{% endblock %}
{% block content %}

<!-- Carousel
================================================== -->
<div id="panel" class="toppanel">
    <div class="shadow_wrapper">
        <div>
            <div class="content">
                <h3>Chính sách bảo mật</h3>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->

<!-- Registration Content
================================================== -->
<!-- Wrap of all the registration block. -->
<section id="main" class="clearfix">
    <div class="shadow_wrapper">
        <div>
            <div class="content">
                <div class="fulltext">
                    <strong>Trang web starclubvn.com là một dịch vụ của Tập đoàn Thanh Bắc Fashion.</strong><p>

                        Star Club tôn trọng sự riêng tư của khách hàng và người sử dụng trang web của chúng tôi và đã thiết lập các chính sách và thực hành mô tả dưới đây để đảm bảo rằng thông tin cá nhân của bạn được xử lý một cách có trách nhiệm. Chính sách bảo mật trực tuyến của chúng tôi mô tả các loại thông tin cá nhân chúng tôi có thể thu thập từ bạn khi bạn truy cập trang web của chúng tôi hoặc các cửa hàng của chúng tôi, làm thế nào chúng tôi sử dụng thông tin này, và khi chúng tôi chia sẻ với các bên thứ ba hoặc các thương hiệu trực thuộc của chúng tôi. Các thông tin trên trang web này và chính sách bảo mật của chúng tôi có thể thay đổi theo thời gian. Bất kỳ thay đổi quan trọng trong chính sách và thực tiễn bảo mật của chúng tôi sẽ được phản ánh trên trang này để bạn có thể nhận thức được những thông tin chúng tôi thu thập và cách chúng tôi đang sử dụng và / hoặc tiết lộ nó. Bằng cách sử dụng trang web của chúng tôi, bạn đồng ý với việc thu thập và sử dụng thông tin này bằng cách Star Club. Chính sách của chúng tôi được cập nhật lần cuối vào ngày 31 tháng 7 năm 2013.

                    </p><strong>Thông tin gì Star Club thu thập?</strong><p>

                        Star Club thu thập dữ liệu mà bạn cung cấp trên starclubvn.com và các trang web của các thương hiệu của chúng tôi liên kết bằng cách truy cập trang web của chúng tôi hoặc thông qua giao dịch, đăng ký email, rút ​​thăm trúng thưởng, các cuộc thi, hoặc thành viên trực tuyến, để liên kết bán hàng của công ty sở hữu của chúng tôi Thanh Bắc Fashion và các cửa hàng của các thương hiệu trực thuộc của chúng tôi (bao gồm cả Levi, Birkenstock, DKNY, Adidas và Diesel), hoặc thông qua điện thoại, mail và tương tác fax hoặc đăng ký giấy mà bạn gửi.

                    </p><strong>Star Club có thể thu thập và lưu trữ hai loại thông tin: “Thông tin tự động", "thông tin cá nhân" </strong><p>

                        Thông tin cá nhân cho chúng ta biết bạn là người như tên, giới tính, địa chỉ thanh toán, địa chỉ giao hàng, địa chỉ email, số điện thoại, ngày sinh hay tuổi tác, bất kỳ sở thích cá nhân bạn chọn để cung cấp, chi tiết giao dịch như phong cách, kích thước, giá cả, giảm giá, ngày, cửa hàng, số thẻ tín dụng và ngày hết hạn sử dụng cho các giao dịch, và một mật khẩu được phân công để bảo vệ sự riêng tư của bạn.</p><p>

                        Thông tin tự động là thông tin mà chúng tôi có thể thu thập tự động bất cứ khi nào bạn tương tác với trang web này như địa chỉ IP của bạn, loại máy tính bạn sử dụng, trình duyệt web mà bạn sử dụng, và các trang web liên kết bạn đến trang web của chúng tôi. Một địa chỉ IP là một con số được gán cho máy tính của bạn khi bạn kết nối với Internet. Mỗi khi bạn truy cập trang web này, máy chủ web của chúng tôi có thể tự động nhận biết và thu thập thông tin này. Thông tin tự động cũng bao gồm "cookies" và "trang web".</p><p>

                        Một "cookie" là một tập tin văn bản nhỏ được gửi tới trình duyệt của bạn từ một máy chủ web và được lưu trên ổ cứng máy tính của bạn. Trong số những thứ khác, các tập tin cookie cung cấp một phương tiện để chúng ta theo dõi các mô hình trực tuyến và sở thích của bạn. Bằng sự hiểu biết các khu vực của trang web bạn truy cập, cookies cho phép chúng tôi trình bày thông tin, sản phẩm và dịch vụ có lợi ích cá nhân và làm cho trang web của chúng tôi hiệu quả hơn. Một số trong những cách chúng tôi có thể sử dụng các tập tin cookie bao gồm cho phép bạn đăng nhập, xác định các xe đẩy mua hàng của bạn, theo dõi, nơi bạn đi du lịch trên các trang web của chúng tôi và những gì bạn nhìn vào và mua, và để thử nghiệm tiếp thị và đề xuất sản phẩm.</p><p>

                        Hầu hết các trình duyệt được thiết lập để chấp nhận cookie nhưng cho phép bạn thay đổi trình duyệt của bạn để nó sẽ không tự động chấp nhận cookie. Trình duyệt khác nhau có những cách khác nhau để thông báo cho bạn khi một cookie được gửi đến cho bạn, hạn chế các loại bánh quy có thể được đặt trên máy tính của bạn và cho phép bạn xóa các tập tin cookie. Xin vui lòng tham khảo hướng dẫn trình duyệt của bạn hoặc giúp màn hình để tìm hiểu thêm về các chức năng này. Ngoài ra, nếu bạn có một máy nghe nhạc Flash được cài đặt trên máy tính của bạn, đèn flash cookie có thể được lưu trữ. Flash cookies khác với cookie của trình duyệt và các công cụ quản lý cookie cung cấp bởi trình duyệt của bạn sẽ không nhất thiết phải loại bỏ các tập tin cookie Flash. Các phiên bản mới nhất của nhiều trình duyệt cho phép bạn kiểm soát hoặc xóa các tập tin cookie Flash thông qua các thiết lập của trình duyệt. Nếu bạn sử dụng một phiên bản cũ của một trong những trình duyệt, nâng cấp lên phiên bản mới nhất, và đặt nó để cập nhật tự động. Tuy nhiên, nếu bạn xóa hoặc loại bỏ các tập tin cookie, có thể là một số phần của trang web có thể không hoạt động như dự định.</p><p>

                        "Cảnh báo trên web", còn được gọi là GIF rõ ràng hoặc GIF một điểm ảnh, hoặc các công nghệ tương tự như là các tập tin hình ảnh nhỏ mà chúng tôi có thể đặt trên các trang web và trong các bản tin email trên nền web mà chúng tôi gửi. Làm việc cùng với cookie, đèn hiệu web cho phép chúng tôi để đếm chính xác số lượng người dùng duy nhất đã truy cập một trang cụ thể và số lần các trang được hiển thị. Chúng tôi cũng có thể sử dụng đèn hiệu web để cho chúng tôi biết bao nhiêu người đã mở ra một bản tin email trên nền web hoặc tin nhắn.</p><p>

                        Chúng tôi có thể kết hợp thông tin tự động với các thông tin cá nhân của bạn. Trong trường hợp hiệp hội như vậy, thông tin tự động như vậy sẽ được coi là thông tin cá nhân.</p><p>

                        Cuối cùng, Star Club thỉnh thoảng có được địa chỉ email của khách hàng Thanh Bắc Fashion và những người yêu cầu email thời trang trên các trang web khác và các địa chỉ email và / hoặc số điện thoại của người gửi thông tin liên lạc của họ để công cụ tìm kiếm Internet được liên lạc của Star Club . Star Club cũng có quyền để có được nhân khẩu học của khách hàng có thể truy cập công khai.

                    </p><strong>Làm thế nào Star Club sử dụng thông tin này?</strong><p>

                        Star Club sử dụng thông tin này để xác nhận và xử lý các giao dịch bán hàng hoặc liên lạc với bạn với những câu hỏi hoặc thông tin về đơn hàng của bạn, hoặc để đáp ứng yêu cầu dịch vụ khách hàng của bạn.</p><p>

                        Star Club còn sử dụng những thông tin này để nâng cao và cá nhân hoá những kinh nghiệm mua sắm của bạn, cả trực tuyến và trong các cửa hàng của chúng tôi, để giao tiếp với bạn để tiếp thị và mục đích quảng cáo bao gồm thông qua mục tiêu miếng bưu điện, tin nhắn điện thoại, hoặc email cá nhân, và để nâng cao hiệu quả trang web của chúng tôi và các hoạt động kinh doanh. Bạn có thể chỉ ra các ưu đãi liên lạc của bạn liên quan đến truyền thông quảng cáo trực tiếp cho chúng tôi trực tuyến hoặc cho đại diện dịch vụ khách hàng.

                    </p><strong>Làm thế nào bạn có thể truy cập thông tin của bạn?</strong><p>

                        Bạn có thể truy cập và chỉnh sửa các thông tin mà bạn cung cấp trực tuyến bằng cách đăng nhập vào starclubvn.com. Chỉ cần nhấp vào "Đăng nhập" liên kết từ trang chủ và nhập địa chỉ email của bạn và mật khẩu để truy cập thông tin của bạn. Bạn có thể yêu cầu mật khẩu giúp đỡ bất cứ lúc nào bằng cách nhấp vào "quên ID của bạn" liên kết mà tại đó thời gian starclubvn.com sẽ gửi email cho mật khẩu của bạn đến địa chỉ email liên quan. Hiện nay, chúng tôi không cung cấp truy cập thông tin mà bạn cung cấp cho Star Club ẩn. Nhưng bất cứ lúc nào bạn có thể yêu cầu tiếp cận thông tin của bạn từ các đại diện dịch vụ khách hàng của chúng tôi.

                    </p><strong>Làm thế nào Star Club bảo vệ thông tin của bạn?</strong><p>

                        Thật không may, không truyền tải dữ liệu qua Internet có thể được vô điều kiện đảm bảo được an toàn. Vì vậy, bất kỳ thông tin mà bạn chuyển tới chúng tôi được gửi nguy cơ của riêng bạn.</p><p>

                        Tuy nhiên, khi bạn đặt hàng trực tuyến, chúng tôi sử dụng công nghệ mã hóa, chẳng hạn như Secure Socket Layer Công nghệ ("SSL") để bảo vệ thông tin cá nhân của bạn trong khi vận chuyển dữ liệu. SSL mã hóa thông tin đặt hàng của bạn, bao gồm tên, địa chỉ, và số thẻ tín dụng, trước khi nó được truyền đến chúng tôi để tránh việc giải mã thông tin của bạn bởi bất cứ ai khác hơn Star Club.</p><p>

                        Ngoài ra, khi bạn tạo một tài khoản trực tuyến trên starclubvn.com, bạn phải chọn một mật khẩu cá nhân. Là một thành viên của trang web của Star Club, bạn sẽ có thể xem được, trong số những thứ khác, hồ sơ tài khoản của bạn, sở thích liên lạc, lịch sử đơn hàng, sổ địa chỉ. Chúng tôi lưu trữ loại thông tin này để bạn không phải nhập lại nó mỗi khi bạn thực hiện mua hàng hoặc truy cập vào trang web. Nếu bạn quyết định trở thành một thành viên của trang web Star Club, bạn sẽ được yêu cầu cung cấp địa chỉ email chính xác và tạo ra một mật khẩu. Để bảo vệ thông tin cá nhân của bạn, bạn nên cẩn thận khi giữ bí mật cho mật khẩu của bạn.

                    </p><strong>Star Club có tiết lộ thông tin của bạn cho người khác?</strong><p>

                        Thanh Bắc Fashion Group duy trì một cơ sở dữ liệu duy nhất của thông tin khách hàng cho một số thương hiệu thuộc sở hữu hoặc cấp phép cho công ty Thanh Bắc Fashion. Khi bạn thiết lập hoặc cập nhật thông tin hồ sơ khách hàng của bạn với một trong những Star Club, thông qua mua hàng, đăng ký hoặc email đăng ký tại một trang web công ty thuộc sở hữu hoặc điều hành, cửa hàng đặc sản hoặc cửa hàng lối thoát cho một trong những của Lê-vi, thông qua một đại diện dịch vụ khách hàng, hoặc trong bất kỳ thông tin khác mà bạn có thể có với chúng tôi, chúng tôi sẽ cập nhật hồ sơ khách hàng của bạn trên cơ sở dữ liệu sao Club TBF.</p><p>

                        Ngoài ra, tất cả các thông tin mà Star Club thu thập có thể được chia sẻ giữa các chi nhánh của chúng tôi, bao gồm Thanh Bắc Fashion Group, của Levi trong cơ sở dữ liệu chung của chúng ta (ví dụ, Birkenstock, DKNY, Adidas và Diesel) và Thanh Bắc Fashion cấp giấy phép thương hiệu. Vui lòng tham khảo trang web của Thanh Bắc Fashion Group tại www.thanhbacfashion.com cho một danh sách đầy đủ của các thương hiệu công ty sở hữu và được cấp phép của chúng tôi.</p><p>

                        Ngoại trừ như được mô tả trong chính sách bảo mật này, Star Club không bán, thuê hay thương mại với bên thứ ba bất kỳ thông tin cá nhân bạn cung cấp cho chúng tôi trực tuyến hoặc tại các cửa hàng của chúng tôi, chúng tôi cũng không chia sẻ thông tin đó với các bên thứ ba. Chúng tôi có thể tiết lộ thông tin cá nhân về bạn cho các bên thứ ba cung cấp dịch vụ cho chúng tôi và những người đồng ý duy trì tính bảo mật của thông tin đó theo quy định chính sách bảo mật và sử dụng thông tin chỉ trong kết nối với các dịch vụ mà họ cung cấp. Các bên thứ ba có thể cung cấp một loạt các dịch vụ cho chúng tôi bao gồm, nhưng không giới hạn, lưu trữ trang web của chúng tôi, giúp chúng tôi trong việc thực hiện các giao dịch của bạn và yêu cầu dịch vụ khách hàng, quản lý và cập nhật bản ghi thông tin khách hàng của bạn trong cơ sở dữ liệu của chúng tôi, việc triển khai email của chúng tôi và cung cấp quảng cáo cho bạn , hoặc thực hiện yêu cầu của bạn để bỏ đăng ký từ email của chúng tôi. Chúng tôi cũng sử dụng các nhà cung cấp bên thứ ba để giúp chúng tôi hiểu rõ hơn cách mọi người sử dụng trang web của chúng tôi, bao gồm cả đo lường hiệu quả của quảng cáo của chúng tôi. Chúng tôi và các nhà cung cấp của chúng tôi có thể đặt cookie và các cảnh báo web trên máy tính của bạn để thu thập các thông tin như địa chỉ IP của máy tính khách của chúng tôi ", nhà nước và mã vùng mà từ đó du khách của chúng tôi đến, mà công cụ tìm kiếm được gọi bạn, cách bạn điều hướng xung quanh trang web của chúng tôi , những gì bạn duyệt và mua và những gì giao thông là lái xe của quảng cáo banner và e-mail. Chúng tôi không cho phép các bên thứ ba để làm cho việc sử dụng thông tin khác của bạn ngoại trừ trên một số tổng hợp, cơ sở không cá nhân (nói cách khác, các thông tin sẽ không được xác định với bạn).</p><p>

                        Chúng tôi có thể sử dụng và / hoặc tiết lộ cho người khác thông tin về nhân khẩu học của bạn và sử dụng trang web của chúng tôi trong một cách mà không tiết lộ danh tính của bạn. Chúng tôi có thể phù hợp với thông tin thu thập từ bạn tại trang web của chúng tôi với thông tin thu được thu thập từ các nguồn khác hoặc bên thứ ba.</p><p>

                        Theo thời gian, chúng tôi có thể hợp tác với một đồng tài trợ để tiến hành một cuộc thi, rút ​​thăm trúng thưởng hoặc sự kiện quảng cáo khác. Trong những tình huống, mỗi của các trang web tham gia có thể thu thập hoặc nhận được thông tin cá nhân của bạn và sẽ có quyền sử dụng thông tin cá nhân của bạn phù hợp với chính sách của mình.</p><p>

                        Chúng tôi có thể tiết lộ thông tin cá nhân trong trường hợp đặc biệt khi chúng ta có lý do để tin rằng tiết lộ thông tin này là cần thiết để xác định, liên hệ, hoặc mang hành động pháp lý chống lại một người có thể đã vi phạm đội của chúng tôi sử dụng hoặc những người có thể gây ra tổn thương hoặc can thiệp với ( cố ý hoặc vô ý) quyền lợi của chúng tôi, những người dùng khác của trang web của chúng tôi, hoặc bất kỳ ai khác có thể bị tổn hại bởi các hoạt động như vậy.</p><p>

                        Chúng tôi cũng có thể tiết lộ thông tin cá nhân khi chúng tôi hợp lý tin rằng luật pháp yêu cầu nó. Chúng tôi có thể bán hoặc mua các công ty con, đơn vị kinh doanh. Trong giao dịch này, thông tin cá nhân nói chung là một trong những tài sản kinh doanh chuyển giao, nhưng vẫn còn tùy thuộc vào những lời hứa được thực hiện trong bất kỳ chính sách bảo mật đã có từ trước. Ngoài ra, trong trường hợp không có tài sản của Star Club được bán ra, thông tin cá nhân có thể là một trong những tài sản chuyển giao.</p><p>

                    </p><strong>Tôi có thể bỏ đăng ký?</strong><p>

                        Vâng. Star Club yêu cầu danh dự để bỏ đăng ký từ khi nhận được email, không chỉ cho các email quảng cáo mà Star Club gửi, nhưng cũng cho các email về Star Club mà chúng tôi cho phép các công ty khác để gửi vào danh sách riêng của họ về thuê bao. Xin lưu ý rằng bạn có thể tiếp tục nhận được email từ Star Club cho đến khi các yêu cầu như vậy có hiệu lực.

                    </p><strong>Làm thế nào Star Club bảo vệ sự riêng tư của một đứa trẻ?</strong><p>

                        Trang web này là một trang web khán giả nói chung. Chúng tôi không có ý định thu thập thông tin cá nhân của trẻ em dưới mười ba tuổi. Nếu chúng tôi nhận thức được rằng chúng tôi đã thu thập thông tin cá nhân từ người dùng của các trang web người ở độ tuổi dưới 13, chúng tôi sẽ loại bỏ thông tin cá nhân của con từ các tập tin của chúng tôi.

                    </p><strong>Trang web starclubvn.com có ​​liên kết đến các trang web khác?</strong><p>

                        Trong khi bạn đang sử dụng trang web này, bạn có thể liên kết hoặc hướng dẫn đến các trang web của bên thứ ba khác bên ngoài của trang web mà là ngoài tầm kiểm soát của chúng tôi. Mỗi của các bên thứ ba có thể có một chính sách bảo mật khác với chúng tôi. Ví dụ, bạn có thể nhấp chuột vào một liên kết hay banner quảng cáo sẽ đưa bạn ra khỏi trang web. Các liên kết và biểu ngữ có thể đưa bạn đến các trang web của các nhà quảng cáo, nhà tài trợ và các đối tác hợp tác xây dựng thương hiệu. Vui lòng xem lại chính sách bảo mật của các trang web này. Chúng tôi không chịu trách nhiệm cho bất kỳ hành động hay chính sách của bên thứ ba đó.

                        <span style="text-decoration: underline;"></p><strong>Thông tin liên hệ</strong><p></span>

                        Chúng tôi hoan nghênh ý kiến ​​của bạn về chính sách bảo mật này. Xin vui lòng gửi bất kỳ mối quan tâm đến:

                    </p><strong>Thanh Bắc Fashion, tầng 3, tòa nhà COPAC, số 12 đường Tôn Đản, Phường 13, Quận 4, Thành phố Hồ Chí Minh, Việt Nam</strong><p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}