{% extends "AevitasLevisBundle:Front:root.html.twig" %}
{% block title %}
<title>Star Club - Privacy Policy</title>
{% endblock %}
{% block header %}
<!-- Le styles -->
{% stylesheets output='bundles/aevitaslevis/front/cpassets/compress_contact_us.css' filter='yui_css'
    '@AevitasLevisBundle/Resources/public/front/css/bootstrap.css'
    '@AevitasLevisBundle/Resources/public/front/css/bootstrap-responsive.css'
    '@AevitasLevisBundle/Resources/public/front/css/faq.css'
    '@AevitasLevisBundle/Resources/public/front/css/style.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
{% endstylesheets %}
{% endblock %}
{% block content %}

<!-- Carousel
================================================== -->
<div id="panel" class="toppanel">
    <div class="shadow_wrapper">
        <div>
            <div class="content">
                <h3>Term of Use</h3>
            </div>
        </div>
    </div>
</div><!-- /.carousel -->

<!-- Registration Content
================================================== -->
<!-- Wrap of all the registration block. -->
<section id="main" class="clearfix">
    <div class="shadow_wrapper">
        <div>
            <div class="content">
                <div class="fulltext">
                    {% spaceless %}
                    <div class="WordSection1"><p align="center"><b><span>STARCLUBVN.COM
                                    CONDITIONS OF SERVICE</span></b></p><p align="center"><b><span>Last
                                    Updated July 31, 2013</span></b></p><p><span>The starclubvn.com web site (the "Site") is a service of
                                Thanh <span>Bac</span> Fashion Group. These Conditions of Service,
                                along with any other terms and conditions that may appear on the Site from
                                time-to-time (collectively, "Conditions") set forth the terms and
                                conditions under which you may use and access the Site.</span></p><p><span><br>
                                BY ACCESSING THE SITE, YOU AGREE TO THESE CONDITIONS. IF YOU DO NOT AGREE TO
                                THESE CONDITIONS (COULD BE CHANGED BY THANH BAC FASHION WITHOUT NOTICE), YOU
                                ARE NOT AUTHORIZED TO ACCESS OR OTHERWISE USE THE SITE.</span><span></span></p><p><a name="sitecontent"></a><b><span>1.
                                    Use of Site and Content</span></b></p><p><b><span>1.1 Use of Site.</span></b><span>&nbsp;You
                                may access and use the Site solely for your personal use in accordance with
                                these Conditions. You agree not to access or use the Site in any manner that is
                                prohibited by these Conditions or is otherwise unlawful. We reserve the right,
                                in our sole discretion, to terminate or suspend your access to, and/or use of,
                                the Site, or any portion thereof, at any time, with or without notice and for
                                any reason (or no reason), and you agree that (a) if your authorization to
                                access the Site is terminated, you will not thereafter access, or attempt to
                                access, the Site, directly or indirectly, and (b) if your authorization to
                                access the Site is suspended, you will not thereafter access, or attempt to
                                access, the Site, directly or indirectly, until your suspension is removed and
                                we give you express notice thereof.</span></p><p><b><span>1.2 Use of Content.</span></b><span>&nbsp;You
                                may make a single copy and/or print a single copy of any information displayed
                                or transmitted on the Site (including, but not limited to, logotypes,
                                trademarks, service marks, directories, guides, news articles, opinions,
                                reviews, text, photographs, images, illustrations, audio clips, video, html,
                                source and object code, software, data, and the like, collectively
                                "Content") for your personal use only.</span></p><p><b><span>1.3 Restrictions.</span></b><span>&nbsp;Except
                                as expressly permitted in Section 1.1 and 1.2 above, you agree not to, without
                                first obtaining our express written permission, (a) distribute (including via
                                e-mail), or otherwise make available, copies of any Content to anyone, (b)
                                republish the Content on the Internet or any intranet or extranet site or
                                incorporate the Content in any database, file, compilation, or archive, (c)
                                reproduce, adapt, distribute, perform or display any Content, in each instance
                                except to the extent required for the limited purpose of viewing material on the
                                Site, (d) alter or remove any trademark, copyright or any other notice
                                contained in any Content, (e) archive or retain any Content in any form, (f)
                                use Content for any commercial purposes, (g) use any of our trademarks as <span class="SpellE">metatags</span> on other web sites, (h) use the Site in any manner
                                that is illegal or impairs the operation of the Site or its availability or
                                usage by others, and/or (i) display any part of the Site in frames (or any
                                Content via in-line links). You agree not to decompile, reverse engineer or disassemble
                                any software or other products or processes accessible through the Site, and
                                not to insert any code or product or manipulate the Content in any way that
                                affects the user's experience. You further agree not to use any data mining,
                                web crawlers, robots, <span class="SpellE">cancelbots</span>, spiders, Trojan
                                horses, or any data gathering or extraction method in connection with your use
                                of the Site except for customary search engines used in accordance with
                                instructions directed to search engines and available on the Site.</span></p><p><b><span>1.4 Product Information and
                                    Colors.</span></b><span>&nbsp;We have made every effort to display as accurately as
                                possible the colors of our products that appear on the Site. However, as the
                                actual colors you see will depend on your monitor, we cannot guarantee that
                                your monitor's display of any color will be accurate. Most Thanh <span>Bac</span> Fashion products displayed on the Site are available in
                                select Thanh Bac Fashion stores in the Vietnam and select foreign markets while
                                supplies last. In some cases, merchandise displayed for sale on the Site may
                                not be available in Thanh <span>Bac</span> Fashion stores. The
                                prices displayed on the Site are quoted in U.S. Dollars and are valid and
                                effective only in Vietnam.</span></p><p><a name="registration"></a><b><span>2.
                                    Registration</span></b></p><p><span>Certain areas of
                                the Site may require registration. If you register or provide information to us
                                in any manner, you agree to provide only true, accurate, current and complete
                                information. If we issue a username and/or password to you, you agree to
                                protect such information by, among other things, keeping your password and
                                other information relating to your account confidential. If, notwithstanding
                                the foregoing obligation, you allow another party to use your account, you will
                                be responsible for all use of the Site by the party using your account.</span></p><p><a name="linking"></a><b><span>3.
                                    Linking and Third Party Dealings</span></b></p><p><b><span>3.1 Links to External Sites.</span></b><span>&nbsp;We
                                may provide hyperlinks to other web sites and Internet resources operated by
                                parties other than Star Club. We have no control over such sites and
                                resources or their privacy policies. Such hyperlinks are provided for your reference
                                only. The inclusion of hyperlinks to such web sites does not imply any
                                sponsorship, affiliation or endorsement of the material on such web sites or
                                with their operators.</span></p><p><b><span>3.2 Third-Party Dealings.</span></b><span>&nbsp;Some
                                portions of the Site may direct you to a web site of a third party. Your
                                dealings or communications through the Site with any party other than us are
                                solely between you and that third party. Please review carefully that third
                                party's policies and practices and make sure you are comfortable with those policies
                                and practices before you engage in any transaction. Any complaints, concerns or
                                questions you may have relating to materials provided by third parties should
                                be forwarded directly to the third party.</span></p><p><a name="intellectual_property"></a><b><span>4.
                                    Intellectual Property</span></b></p><p><span>Except for Content
                                that is in the public domain, all Content, as well as the selection and
                                arrangement of the Content, is owned by (or licensed to) Thanh Bac Fashion
                                Group, its affiliates or suppliers and is protected by copyright, trade dress,
                                trademark, unfair competition, and/or other laws and may not be used, copied or
                                imitated in whole or in part except as expressly provided in these Conditions.
                                Except as otherwise expressly provided in these Conditions, all rights in and
                                to the Content are expressly reserved by Thanh <span>Bac</span> Fashion
                                Group.</span></p><p><b><span>5.
                                    Indemnification</span></b></p><p><span><span>You
                                    agree to indemnify and hold harmless Star Club and its affiliates,
                                    officers, directors, employees, shareholders, information providers, suppliers
                                    and licensees (collectively, "Indemnified Parties") from and against any
                                    and all liability and costs, including, without limitation, reasonable
                                    attorney's fees, incurred by the Indemnified Parties in connection with any
                                    claim arising out of (a) your access and/or use of the Site, (b) any breach of
                                    any of these Conditions by you or any user of your account, and/or (c) any
                                    allegation which, if true, would constitute a breach of any of these Conditions
                                    by you or any user of your account.</span></span></p><span style="mso-bookmark:indemnification"></span><p><b><span>6. Typographical
                                    Errors and Cancellation of Orders</span></b></p><p><span>In the event a Thanh
                                <span>Bac</span> Fashion product is mistakenly listed at an
                                incorrect price, or with incorrect information, Star Club will have the
                                right to refuse or cancel any orders placed for the product listed at the
                                incorrect price. In addition, Star Club reserves the right any time after
                                receipt of your order to refuse or cancel your order for any reason, whether or
                                not the order has been confirmed and your credit card charged. If your credit
                                card has already been charged for the purchase and your order is canceled, 
                                Star Club will issue a credit to your credit card account in the amount of the
                                charge.</span></p><p><a name="no_warranties"></a><b><span>7.
                                    No Warranties</span></b></p><p><span>The Site is
                                provided on an&nbsp;<b><span>"AS IS", "AS
                                        AVAILABLE"&nbsp;</span></b>basis. ANY CONTENT DOWNLOADED OR OTHERWISE
                                OBTAINED THROUGH THE USE OF THE SITE IS DONE AT YOUR SOLE DISCRETION AND RISK.
                                WE AND OUR SUPPLIERS HEREBY DISCLAIM ANY AND ALL WARRANTIES AND
                                REPRESENTATIONS, WHETHER EXPRESS OR IMPLIED, ORAL OR WRITTEN, INCLUDING,
                                WITHOUT LIMITATION, ANY AND ALL IMPLIED WARRANTIES OF MERCHANTABILITY,
                                REASONABLE CARE, COMPATIBILITY, SECURITY, QUALITY, TIMELINESS, AVAILABILITY,
                                COMPLETENESS, RELIABILITY, ACCURACY, AND/OR FITNESS FOR A PARTICULAR PURPOSE
                                (WHETHER OR NOT WE AND/OR ANY OF OUR SUPPLIERS KNOW, HAVE REASON TO KNOW, HAVE
                                BEEN ADVISED, OR ARE OTHERWISE IN FACT AWARE OF ANY SUCH PURPOSE), IN EACH
                                INSTANCE IN RESPECT OF THE SITE (INCLUDING, WITHOUT LIMITATION, ALL CONTENT).
                                FURTHERMORE, WE EXPRESSLY DISCLAIM ANY AND ALL WARRANTIES OF TITLE AND/OR
                                NON-INFRINGEMENT IN RESPECT OF THE SITE (INCLUDING, WITHOUT LIMITATION, ALL
                                CONTENT). We and our suppliers do not represent or warrant that the information
                                on this Site is accurate, complete, or current. We are not responsible for
                                typographical or other errors, inaccuracies or omissions. Price and
                                availability information, product descriptions and promotions are subject to
                                change without notice, and we reserve the right to change or update such
                                information at any time. In addition, we make no representation that materials
                                or Content available through the Site are appropriate or available for use outside
                                Vietnam and access to them from territories where their contents are illegal is
                                prohibited. Some jurisdictions do not allow implied warranties to be excluded
                                or modified, so not all of the above limitations may apply to you. The Site is
                                controlled, operated and administered by us from our offices within Vietnam.</span></p><p><a name="liability"></a><b><span>8.
                                    Limitation of Liability</span></b></p><p><span>EXCEPT WHERE
                                PROHIBITED BY LAW, IN NO EVENT WILL STAR CLUB, ITS PARENTS, AFFILIATES,
                                AND/OR SUPPLIERS BE LIABLE FOR (A) ANY DAMAGES OF ANY NATURE WHATSOEVER
                                RESULTING FROM, OR RELATED TO, THE LOSS, DELAY OR INABILITY TO USE THE SITE
                                (INCLUDING, WITHOUT LIMITATION, ANY CONTENT), THE LOSS OF ANY CONTENT OBTAINED THROUGH
                                THE SITE, AND/OR (B) ANY INDIRECT, CONSEQUENTIAL, SPECIAL, INCIDENTAL OR
                                PUNITIVE DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF
                                PROFITS ARISING OUT OF OR IN ANY WAY CONNECTED WITH THESE CONDITIONS AND/OR
                                OTHERWISE ARISING OUT OF THE USE OR PERFORMANCE OF THE SITE (INCLUDING, WITHOUT
                                LIMITATION, ANY CONTENT), IN EACH OF (A) AND (B) ABOVE WHETHER BASED IN
                                CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE AND EVEN IF STAR
                                CLUB, ITS PARENTS, AFFILIATES, AND/OR SUPPLIERS HAVE BEEN ADVISED OF THE
                                POSSIBILITY OF SUCH DAMAGES. IN ALL EVENTS, STAR CLUB 'S AGGREGATE
                                LIABILITY FOR CLAIMS ARISING OUT OF OR IN ANY WAY CONNECTED WITH THESE
                                CONDITIONS AND/OR THE USE OR PERFORMANCE OF THE SITE (INCLUDING, WITHOUT
                                LIMITATION, ANY CONTENT) WHETHER BASED IN CONTRACT, TORT, NEGLIGENCE, STRICT
                                LIABILITY OR OTHERWISE SHALL BE LIMITED <a name="additional"></a><b>9. Additional
                                    Conditions and Modifications to Conditions</b></span></p><p><span>WE MAY ADD
                                ADDITIONAL CONDITIONS THAT GOVERN YOUR USE OF THE SITE BY POSTING SUCH
                                CONDITIONS ON THE SITE FROM TIME-TO-TIME. In addition, we may revise these
                                Conditions at any time. When we do, we will also revise the "last
                                updated" date at the top of these Conditions. You are responsible for
                                regularly reviewing the current Conditions. The most current version of the
                                Conditions can be reviewed by clicking on the&nbsp;</span><a href="http://www.ninewest.com/on/demandware.store/Sites-ninewest-Site/default/Link-PageByDate?cid=TERMS"><span>"Conditions of
                                    Use"</span></a><span>&nbsp;hypertext link located at the bottom of our web pages.
                                Your continued use of the Site after we post any revised Conditions constitutes
                                your agreement to any such revised terms. If you object to any of these
                                Conditions or any subsequent changes, you may not use the Site.</span></p><p><a name="modifications"></a><b><span>10.
                                    Modifications to the Site</span></b></p><p><span>For further clarity,
                                (a) we may modify, suspend, discontinue and/or restrict the use of all or any
                                portion of the Site including the availability of any data or other information
                                contained on the Site at any time for any reason and without notice or
                                liability, and (b) we reserve the right, with or without notice to you, to
                                change any of the services offered on the Site including, but not limited to,
                                hours of operation, menu structures, access procedures, software commands,
                                documentation, suppliers and/or other services.</span></p><p><a name="law"></a><b><span>11.
                                    Governing Law and Jurisdiction</span></b></p><p><span>The Site is hosted
                                on servers located in Vietnam and is intended to be viewed by residents of Vietnam.
                                These Conditions are governed by the laws of the State of Ho Chi Minh City, Vietnam,
                                except for its conflict of law’s provisions. In the event you desire to
                                initiate any suit against Star Club arising out of or relating to the Site
                                (including, without limitation, the Content of the Site) and/or these
                                Conditions, you agree to bring such suit in the federal courts sitting in Ho
                                Chi Minh City, Vietnam unless no federal subject matter jurisdiction exists, in
                                which case you agree to bring such suit in the state courts sitting in Ho Chi
                                Minh City, Vietnam. You further agree that we may initiate a suit against you
                                arising out of or relating to the Site (including, without limitation, the
                                Content of the Site) and/or these Conditions in such courts and you hereby
                                waive all rights you may have or which may hereafter arise to contest
                                jurisdiction or venue in such courts.</span></p><p><a name="miscellaneous"></a><b><span>12.
                                    Miscellaneous</span></b></p><p><span>These Conditions
                                including, without limitation, and any other terms and conditions that may
                                appear on the Site from time-to-time contain the full understanding with
                                respect to your use and access of the Site and supersede all prior agreements,
                                terms, conditions and understandings, both written and oral, with respect to
                                such use and access of the Site. If any portion of these Conditions is held to
                                be invalid or unenforceable, the invalid or unenforceable portion shall be
                                modified in accordance with the applicable law as nearly as possible to reflect
                                the original intention of the applicable provision, and the remainder of these
                                Conditions shall remain in full force and effect. A printed version of these
                                Conditions of Use and of any notices given to you in electronic form shall be
                                admissible in judicial or administrative proceedings based upon or relating to
                                these Conditions to the same extent and subject to the same conditions as other
                                business documents and records originally generated and maintained in printed
                                form. The failure of Star Club to insist upon or enforce strict performance
                                by you of any provision of these Conditions shall not be construed as a waiver
                                of any provision or right. Use of the Site is unauthorized in any jurisdiction
                                that does not give effect to all provisions of these Conditions. We may provide
                                notice to you relating to the Site and/or these Conditions by sending an e-mail
                                to your last known e-mail address, and any such notice shall be deemed given
                                and received on the day it is sent. You agree that any cause of action that you
                                may desire to bring arising out of or related to these Conditions and/or the
                                Site must commence within one (1) year after the cause of action arises;
                                otherwise, such cause of action shall be permanently barred. You may not use
                                the Site or export the Content in violation of Vietnam. <span>export</span>
                                laws and regulations. If you access the Site from a location outside Vietnam,
                                you are responsible for compliance with all local laws.</span></p></div>
                    </div>{% endspaceless %}
            </div>
        </div>
    </div>
</section>
{% endblock %}