#resizable {background: none repeat scroll 0 0 transparent;float: left;
height: 100px;
left: 0;
opacity: 0.4;
position: absolute;
top: 0;
border:1px solid;
width: 100px;
z-index: 100;
cursor: move}
#crop_img{max-width:none}
#user_control {
    position:absolute;right:0;
    float: right;
}
input.disable{background-color:#eee}
span.help{background:url("http://www.bankofengland.co.uk/boeapps/iadb/images/questionmark_icon.gif") no-repeat scroll 0 0 transparent;width:14px;height:12px;display:inline-block;text-indent:-99999px}
.login a.avatar{margin-left:10px;width:auto;color:#fff;text-decoration:none}
.login a.avatar img{margin-right:5px}
.navbar .nav{margin: 0;}
#breadcrums ul, #userdash ul{padding:0;margin:0;overflow:hidden;clear:both}
#user_control ul li{list-style:none;padding:5px 0 5px 25px}
#userdash{overflow:hidden;clear:both;margin-bottom:30px}
#userdash .content{height:100%}
#userdash ul.topnav{width:100%;padding:0;margin:0;height:45px;overflow:hidden;background:#1e1e1e}
#userdash ul.topnav a{height:100%;display:block;padding:13px 20px;color:#fff;text-transform:uppercase;font-weight:bold;text-decoration:none}
#userdash ul.topnav>li:first-child{padding-left:10px}
#userdash ul.topnav li.active a{color:#000}#userdash ul.topnav li.active{background:#fff}
#userdash ul.topnav>li{list-style:none;float:left;height:45px}
#userdash section{padding:0 0 20px 30px;min-height:600px}
#userdash .block{border-top:1px solid #a7a7a7;padding-top:24px}
.block>span:first-child{width:180px;display:block;float:left;text-transform:uppercase;font-size:17px;color:#6d6d6d}
.block>div{float:left;width:660px}
.block.person span + div{width:140px;float:left;margin-right:40px}
.block.person>div + div{width: 530px}
#userdash input, #userdash select, #userdash .select2-container .select2-choice{width:210px}
#userdash section>form{margin: 0 30px 0 0}
.person button{width:100%;margin: 10px auto !important;padding:0 20px;font-size:15px}
ul.extpro li{float:left;list-style:none;margin-right:20px}
ul.extpro li a{color:#000;line-height:30px;font-size:16px}
ul.extpro li.active a{color:#ede518}ul.extpro li.active{border-bottom:3px solid #EDE518;background:url(../img/sprite.png) no-repeat scroll center -655px}
ul.extpro{margin:10px 0 -1px !important}
.table div.bottom,.table div.bottom *{background: url('../img/sprite.png');height:7px;background-repeat:no-repeat}
.table div.bottom{background-position:left -685px}.table div.bottom>div{background-position:right -685px}
.table div.bottom>div>div{margin:0 6px;background-position:center -692px;background-repeat: repeat-x}
#userdash .table.yellow{margin:20px 30px 0 0;width:auto}
#userdash .table .body{position:relative;border-left: 1px solid #f2f2f2;border-right:1px solid #f2f2f2;background:#f8f8f8}
.table.yellow>div:first-child{height:53px;
background: #fef842; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZjg0MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQxJSIgc3RvcC1jb2xvcj0iI2ZhZjEzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU2JSIgc3RvcC1jb2xvcj0iI2Y1ZWMyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlY2UzMTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #fef842 0%, #faf134 41%, #f5ec2b 56%, #ece318 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef842), color-stop(41%,#faf134), color-stop(56%,#f5ec2b), color-stop(100%,#ece318)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fef842 0%,#faf134 41%,#f5ec2b 56%,#ece318 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fef842 0%,#faf134 41%,#f5ec2b 56%,#ece318 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fef842 0%,#faf134 41%,#f5ec2b 56%,#ece318 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fef842 0%,#faf134 41%,#f5ec2b 56%,#ece318 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fef842', endColorstr='#ece318',GradientType=0 ); /* IE6-8 */
-webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
}
.table.gray>div:first-child{
height:53px;
background: #a2a2a2; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EyYTJhMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iIzk3OTc5NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iIzhlOGU4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MDgwODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #a2a2a2 0%, #979797 42%, #8e8e8e 60%, #808080 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a2a2a2), color-stop(42%,#979797), color-stop(60%,#8e8e8e), color-stop(100%,#808080)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a2a2a2 0%,#979797 42%,#8e8e8e 60%,#808080 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a2a2a2 0%,#979797 42%,#8e8e8e 60%,#808080 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a2a2a2 0%,#979797 42%,#8e8e8e 60%,#808080 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a2a2a2 0%,#979797 42%,#8e8e8e 60%,#808080 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2a2a2', endColorstr='#808080',GradientType=0 ); /* IE6-8 */
-webkit-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
border-bottom: 2px solid #6c6c6c;
}
.table>div:first-child *{color:#0c0c0c;display:inline-block;padding: 5px 0 0;margin:0;line-height:44px}
.table>div:first-child>*{font-size:18px;font-weight:normal}
.table>div:first-child>h3{float:left;padding-left: 10px;text-transform:uppercase}
.table>div:first-child>span{float:right;padding-right: 10px}
.table.gray{width:282px;float:left;}
.table.gray h3{text-transform: none !important;color:#fff}
.table.gray + .table.gray{margin-left:27px}
.table.gray .body{padding: 10px;min-height:220px}
.table.gray label{float:left;min-width: 75px;font-size:13px}
.table.gray strong + label{clear:left}
.table.gray strong{float:left;font-size:13px}
.table.gray button{display:block;margin:10px auto;padding: 0 15px;clear:both}
.table.gray.wishlist .body{padding:0;height:240px}
div.floatbt{position:absolute;bottom:0;width:100%}
ul.wishlist li{float:left;padding-left:10px;margin-top:10px}
ul.wishlist li:first-child{margin-left: 0}
ul.wishlist{display: block;margin: 0 auto !important;width: 265px}
#uniform-fos_user_profile_form_dship,#uniform-fos_user_profile_form_dship + label{float:left}

/** Table **/
#userdash tr th{border:none;text-transform:uppercase;font-weight:normal;background-color:#FDFDFD}#userdash tr td:first-child{border-left:none}
#userdash table td{border-top: none;border-left:1px solid #6D6D6D}
#userdash table{margin:0px auto;background-color:#F4F4F4}
div.stats h3{text-transform:uppercase;font-weight: normal}
div.stats span{float:left;clear:left;display:inline-block;min-width:160px}
div.stats strong{float:left}
div.static div.logs{margin:0 30px 0px;padding: 20px 0;overflow:hidden}
span.total{    display: block;
    margin: 0 30px 20px;
    text-align: right;font-weight:bold}
span.total>strong{color:red;font-size:20px;margin-left:10px}
#fos_user_profile_form_city, #fos_user_profile_form_district{display:none}
.form-errors li{color:red}
.person .form-row + .form-row{width:50% !important}