#main{margin-top:40px;margin-bottom:30px;}
#main .content{background-color:#fff;}
#main .shadow_wrapper{background-position: left -92px;}
#main .shadow_wrapper>div{background-position: right -92px;}

.content {
	
}

.content #panel-left {
	float:left;
	padding:40px 0 20px 30px;
	width:390px;
	font-size:16px;
	color:#777;
	
}

.content #panel-right {
	margin-left:420px;
	width:510px;
	padding:30px 20px 20px 20px;
	min-height:720px;
	font-size:16px;
	color:#777;
}

#panel-left .box-input label {
	margin-top:10px;
	font-size:17px;
}

#panel-left .box-input input[type="text"]{
	width:370px;
	border-color:#dedede;
	height:30px;
	padding:2px 6px;
}

#panel-left .box-input textarea{
	width:370px;
	border-color:#dedede;
	height:200px;
	padding:5px 6px;
}

#panel-left .box-input input[type="submit"] {
     display: inline-block;
     padding: 15px 20px;
	font-size:16px;
     color: #333;
     border: none;
     background: #ffe60f none 0 0 no-repeat;
     text-decoration: none;
	margin-top:20px;
}

#panel-left .box-input input[type="submit"]:hover {
     color:#fff;
     background: #009fe3 none 0 0 no-repeat;
}

#panel-right .store-info {
	margin: 20px 0;
}

#panel-right .store-info li{
	list-style: none;
}

.store-info li .info-type {
	float: left;
	width: 110px;
}

.store-info li .info-value {
	margin-left: 110px;
}