@font-face {
	font-family: 'Rockwell';
	src: url('fonts/ufonts.com_rockwell__2_.eot');
	src: local('☺'), url('fonts/ufonts.com_rockwell__2_.woff') format('woff'), url('fonts/ufonts.com_rockwell__2_.ttf') format('truetype'), url('fonts/ufonts.com_rockwell__2_.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}