#main{margin-top:40px;margin-bottom:30px;}
#main .content{background-color:#fff;}
#main .shadow_wrapper{background-position: left -92px;}
#main .shadow_wrapper>div{background-position: right -92px;}

#main .content {
	background: #1d1d1d;
}

.content #panel-left {
	float:left;
	width:300px;
	padding-left:40px;
}

.text-title {
	margin:30px 0;
}

.text-title span{
	font-size:17px;
	padding-bottom:5px;
	color: #fefefe;
	text-transform:uppercase;
	border-bottom: 4px #fee600 solid;
}

.content #panel-right {
	margin-left:320px;
	padding-left:10px;
	background:#fff;
	min-height:500px;
}

#panel-left li {
	list-style:none;
	width:220px;
	border-bottom:#aaa 1px solid;
	padding-left:20px;
	line-height:35px;
	height:35px;
	color:#a7a7a7;
	cursor:pointer;
}

#panel-left li:hover {
	background: #fee600;
	color:#333;
}

.menu-active {
	background: #fee600;
	color:#333 !important;
}

#panel-right .item {
	width:270px;
	padding:20px;
	min-height:100px;
	float:left;
	height:260px;
}

.item .branch-name {
	font-size:17px;
	text-transform:uppercase;
	color: #000;
}

.item .branch-image {
	margin: 10px 0;
}

.item .box-left {
	float: left;
	width: 75px;
	border-right: 1px solid #ddd;
}

.item .box-right {
	margin-left:85px;
	width:200px;
}
.about_us .content #panel-left{
    padding:0 10px
}
.about_us .content #panel-right{min-height:626px}
.about_us .shadow_wrapper .content,.about_brands .shadow_wrapper .content{padding-bottom:0px}
.about_us .text-title{margin:0}
.about_us #panel-right,.about_brands #panel-right > div{padding:10px}
.about_brands .text-title span{text-transform:none;border:none;font-weight:bold;font-size:15px;cursor:pointer}
.about_brands .text-title i{width:30px;border-bottom:4px #fee600 solid;overflow:hidden;clear:both;display:block;height:4px}
.about_brands .text-title{margin:15px 0}
.about_brands .text-title:first-child{margin-top:30px}
.about_brands #panel-right > div h2{color:#df010e;font-weight:normal}
.about_brands #panel-right img{display:block;overflow:hidden;margin:25px 0}
.about_brands #panel-right > div{display:none}
.about_brands #panel-right > div.show{display:block}